h1{
    color: whitesmoke;
}
h2{
    color: whitesmoke;
}
a{
    color: rgb(214, 211, 211);
}
p{
    color: whitesmoke;
}
ul{
    color: whitesmoke;
}
li{
    color: whitesmoke;
}
body{
    background-color: black
}

